
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/*Provide sufficient contrast against white background*/

a {
    color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


body {
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #e5e5e5
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}

.border-shadow {
    border-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*for login/logout tab control*/
div.login-logout-tab div.card-header {
    padding: 0px 0px 0px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px 0px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
    text-align: center;
}

div.form-group {
    padding: 0px 0px;
}

div.input-group-text {
    padding: 10px;
}

/*for object-subject tab control*/


div.object-subject-tab div.card-header {
    padding: 0px 0px 0px 0px;
}

div.object-subject-tab ul.nav-tabs {
    margin: 0px 0px 0px 0px;
}

div.object-subject-tab li.nav-item {
    width: 50%;
}

div.object-subject-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.object-subject-card-content {
    padding: 0px 0px;
}



/*CRUD buttons*/


#editButton {
    color: #fff;
    background-color: blue;
    text-decoration: none;
    margin-right: 0.5rem;
    vertical-align: middle;
    width: 38px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
#editButton:hover {
    border: 1px solid #888;
    background-color: #ddd;
}

#detailsButton {
    color: #fff;
    background-color: steelblue;
    text-decoration: none;
    margin-right: 0.5rem;
    vertical-align: middle;
    width: 38px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

#detailsButton:hover {
    border: 1px solid #888;
    background-color: #ddd;
}

#deleteButton {
    color: #fff;
    background-color: red;
    text-decoration: none;
    vertical-align: middle;
    width: 38px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

#deleteButton:hover {
    border: 1px solid #888;
    background-color: #ddd;
}


div.button-container {
    display: flex;
    justify-content: space-between;
}

/*table*/

.table {
    background: #fff;
    overflow-y: auto;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 2rem;
    max-height: 500px;
    overflow-y: hidden;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

    table thead th,
    table tbody td {
        padding: 15px;
        border: none;
        font-weight: 600;
        font-size: 14px;
    }

    table thead th {
        background: #1861ac;
        color: white;
        font-size: 16px;
        position: sticky;
        top: -1%;
    }

    table tbody td {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

/*login and register buttons*/

#loginButton {
    color: #fff;
    background-color: blue;
    text-decoration: none;
    margin-right: 0.5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    padding: 4px;
}


#registerButton {
    color: #fff;
    background-color: blue;
    text-decoration: none;
    margin-right: 0.5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    padding: 4px;
    margin: 10px 0px 0px 0px;
}