
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/*Provide sufficient contrast against white background*/

a {
    color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #e5e5e5
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}

.border-shadow {
    border-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*for tab control*/
div.login-logout-tab div.card-header {
    padding: 0px 0px 0px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px 0px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
    text-align: center;
}

div.form-group {
    padding: 10px 10px;
}

div.input-group-text {
    padding: 10px;
}

/*CRUD buttons*/


.btn-primary {
    color: #fff;
    background-color: blue;
    text-decoration: none;
    margin-right: 1rem;
    vertical-align: middle;
    width: 80px;
    height: 40px;
    line-height: 30px;
    text-align: center;
}

.btn-info {
    color: #fff;
    background-color: steelblue;
    text-decoration: none;
    margin-right: 1rem;
    vertical-align: middle;
    width: 80px;
    height: 40px;
    line-height: 30px;
    text-align: center;
}

.btn-danger {
    color: #fff;
    background-color: red;
    text-decoration: none;
    vertical-align: middle;
    width: 80px;
    height: 40px;
    line-height: 30px;
    text-align: center;
}

div.button-container {
    display: flex;
    justify-content: space-between;
}