
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-logo {
    height: 50px;
    width: 150px;
}

.navbar-custom {
    background-color: #432828;
}

/* Form for profile*/

.form-floating {

    padding-bottom: 10px;
}


/*Provide sufficient contrast against white background*/
a {
    color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


body {
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;

}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #e5e5e5
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}

.border-shadow {
    border-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    position: relative;
    min-height: 100%;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;

}

/*for login/logout tab control*/
div.login-logout-tab div.card-header {
    padding: 0px 0px 0px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px 0px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
    text-align: center;
}

div.form-group {
    padding: 0px 0px;
}

div.input-group-text {
    padding: 10px;
}

/*for object-subject tab control*/


div.object-subject-tab div.card-header {
    padding: 0px 0px 0px 0px;
}

div.object-subject-tab ul.nav-tabs {
    margin: 0px 0px 0px 0px;
}

div.object-subject-tab li.nav-item {
    width: 50%;
}

div.object-subject-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.object-subject-card-content {
    padding: 0px 0px;
}



/*CRUD buttons*/


#editButton {
    color: #fff;
    background-color: blue;
    text-decoration: none;
    margin-right: 0.5rem;
    vertical-align: middle;
    width: 38px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
#editButton:hover {
    border: 1px solid #888;
    background-color: #ddd;
}

#detailsButton {
    color: #fff;
    background-color: steelblue;
    text-decoration: none;
    margin-right: 0.5rem;
    vertical-align: middle;
    width: 38px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

#detailsButton:hover {
    border: 1px solid #888;
    background-color: #ddd;
}

#deleteButton {
    color: #fff;
    background-color: red;
    text-decoration: none;
    vertical-align: middle;
    width: 38px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

#deleteButton:hover {
    border: 1px solid #888;
    background-color: #ddd;
}


div.button-container {
    display: flex;
    justify-content: space-between;
}

div.image-container {
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
}

/*CRUD pages*/


div.subject-delete-page {
    padding-bottom: 100px;
}
div.subject-details-page {
    padding-bottom: 100px;
}
div.subject-edit-page {
    padding-bottom: 100px;
}
div.subject-index-page {
    padding-bottom: 100px;
}


div.object-create-page {
    padding-bottom: 100px;
}
div.object-delete-page {
    padding-bottom: 100px;
}
div.object-details-page {
    padding-bottom: 100px;
}
div.object-edit-page {
    padding-bottom: 100px;
}
div.object-index-page {
    padding-bottom: 100px;
}

div.auth-layout {
    padding-bottom: 100px;
}

/*table*/

.table {
    background: #fff;
    overflow-y: auto;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px 40px;
    max-height: 450px;
    overflow-y: hidden;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

    table thead th,
    table tbody td {
        padding: 15px;
        border: none;
        font-weight: 600;
        font-size: 14px;
    }

    table thead th {
        background: #1861ac;
        color: white;
        font-size: 16px;
        position: sticky;
        top: -1%;
    }

    table tbody td {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

/*login and register buttons*/

#loginButton {
    color: #fff;
    background-color: blue;
    text-decoration: none;
    margin-right: 0.5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    padding: 4px;
}


#registerButton {
    color: #fff;
    background-color: blue;
    text-decoration: none;
    margin-right: 0.5rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    padding: 4px;
    margin: 10px 0px 0px 0px;
}

/*interactive map*/

#myMap {
    position: static;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 745px;
    height: 390px;
}

div.map-tab div.card-header {
    padding: 0px 0px 0px 0px;
}

div.map-tab ul.nav-tabs {
    margin: 0px 0px 0px 0px;
}

div.map-tab li.nav-item {
    width: 50%;
}

div.map-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.map-card-content {
    padding: 0px 0px;
}

/*specialization checkboxes*/


ul.spec {
    list-style-type: none;
}

li.spec {
    display: inline-block;
}

input[type="checkbox"][id^="cb"] {
    display: none;
}

label.spec {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    label::before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
    }

    label img {
        height: 32px;
        width: 32px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
    }

:checked + label {
    border-color: #ddd;
}

    :checked + label::before {
        content: "✓";
        background-color: grey;
        transform: scale(1);
    }

    :checked + label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
    }

/*avatar image customization*/

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

    #profile-container img {
        width: 150px;
        height: 150px;
    }

#hover-content {
    background-color: white;
    border-radius: 5px;
    color: rgba(34, 34, 34, 0.829);
    padding: 5px 4px 4px 4px;
    position: relative;
    box-shadow: 0px 1px 5px #999;
    opacity: 0;
    position: absolute;
    transition: .5s ease;
}

    #profile-container:hover + #hover-content {
        opacity: 1;
        visibility: visible;
    }


.avatar-container {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 150px !important; /* any size */
    max-height: 150px !important; /* any size */
    margin: auto;
    border-radius: 100%;
    position: relative;
}

.inner {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
