@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 20px;">
    <br/>
    <h1 class="display-4">Welcome to Rukama</h1>
    <p>Rukama is a web application subjects and objects in the field of arts and crafts</p>
    <br/>
    <p>The application consists of an interactive map and a table</p>
</div>
