@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br>
<br>
<p>This web application is for personal use only. 
    If the user of this application has no approval from the owner, 
    it is forbidden to use the application for commercial purposes in any way.</p>
