@model Rukama.ViewModels.SubjectEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Subject</h4>
<hr />

<div class="subject-edit-page">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SubjectID" />
                <input type="hidden" asp-for="ExistingImagePath1" />
                <input type="hidden" asp-for="ExistingImagePath2" />
                <input type="hidden" asp-for="ExistingImagePath3" />
                 
                <div class="form-group">
                    <label asp-for="SubjectName" class="control-label"></label>
                    <input asp-for="SubjectName" class="form-control" placeholder="SubjectName" />
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LegalForm" class="control-label"></label>
                    <input asp-for="LegalForm" class="form-control" placeholder="LegalForm" />
                    <span asp-validation-for="LegalForm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CID" class="control-label"></label>
                    <input asp-for="CID" class="form-control" placeholder="CID" />
                    <span asp-validation-for="CID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Specialization" class="control-label"></label>
                    <input asp-for="Specialization" class="form-control" placeholder="Specialization"/>
                    <span asp-validation-for="Specialization" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GPS" class="control-label"></label>
                    <input asp-for="GPS" class="form-control" placeholder="GPS"/>
                    <span asp-validation-for="GPS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" placeholder="Street"/>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StreetNr" class="control-label"></label>
                    <input asp-for="StreetNr" class="form-control" placeholder="StreetNr"/>
                    <span asp-validation-for="StreetNr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" placeholder="City"/>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" placeholder="Country"/>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Region" class="control-label"></label>
                    <input asp-for="Region" class="form-control" placeholder="Region"/>
                    <span asp-validation-for="Region" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobileNr" class="control-label"></label>
                    <input asp-for="MobileNr" class="form-control" placeholder="MobileNr"/>
                    <span asp-validation-for="MobileNr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TelephoneNr" class="control-label"></label>
                    <input asp-for="TelephoneNr" class="form-control" placeholder="TelephoneNr"/>
                    <span asp-validation-for="TelephoneNr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FaxNr" class="control-label"></label>
                    <input asp-for="FaxNr" class="form-control" placeholder="FaxNr"/>
                    <span asp-validation-for="FaxNr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="URL" class="control-label"></label>
                    <input asp-for="URL" class="form-control" placeholder="URL"/>
                    <span asp-validation-for="URL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" placeholder="Comment"/>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OpeningHours" class="control-label"></label>
                    <input asp-for="OpeningHours" class="form-control" placeholder="OpeningHours"/>
                    <span asp-validation-for="OpeningHours" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" class="form-control" placeholder="Icon"/>
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <label asp-for="Image1" class="control-label"></label>
                        <div class="col-sm-12">
                            <input asp-for="Image1" class="form-control custom-file-input"/>
                            <label class="custom-file-label">Choose 1. new image...</label>
                        </div>
                        <span asp-validation-for="Image1" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <label asp-for="Image2" class="control-label"></label>
                        <div class="col-sm-12">
                            <input asp-for="Image2" class="form-control custom-file-input"/>
                            <label class="custom-file-label">Choose 2. new image...</label>
                        </div>
                        <span asp-validation-for="Image2" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <label asp-for="Image3" class="control-label"></label>
                        <div class="col-sm-12">
                            <input asp-for="Image3" class="form-control custom-file-input"/>
                            <label class="custom-file-label">Choose 3. new image...</label>
                        </div>
                        <span asp-validation-for="Image3" class="text-danger"></span>
                </div> 

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function(){
         $('.custom-file-input').on("change",function(){
              var fileName=$(this).val().split("\\").pop();
              $(this).next('.custom-file-label').html(fileName);
         });
    });
    </script>
}
